In [2]:
import os
import pandas as pd
import numpy as np
import csv
import re

## ÂØπËØçÈ¢ëËøõË°åÊñπÂ∑ÆÂàÜÊûê

In [4]:
#ËØªÂÖ•Êï∞ÊçÆ
group_1_count = pd.read_csv('D:\my research\group\group_1\group_1_count.csv',encoding='utf-8')
group_1_count.columns = ['0','name','class','count','item']
group_1_count = group_1_count.drop(columns='0')
group_1_count

                              name class   count      item
0    PA 53619 0.012832955222394572    PA   53619  0.012833
1   PE 10543 0.0025233191016189403    PE   10543  0.002523
2     PD 10766 0.00257669102229247    PD   10766  0.002577
3   PH 104104 0.024915831523753974    PH  104104  0.024916
4   PG 12559 0.0030058204113850204    PG   12559  0.003006
5    PB 37408 0.008953079858992822    PB   37408  0.008953
6   PK 15384 0.0036819445185721123    PK   15384  0.003682
7    NA 3532 0.0008453346359592239   NaN    3532  0.000845
8   NB 17377 0.0041589411010938375    NB   17377  0.004159
9    NJ 7032 0.0016830105209697797    NJ    7032  0.001683
10   NH 3390 0.0008113489286245099    NH    3390  0.000811
11   PF 7013 0.0016784631375940083    PF    7013  0.001678
12   NI 4796 0.0011478552984316075    NI    4796  0.001148
13  NC 15342 0.0036718924079519855    NC   15342  0.003672
14   NG 999 0.00023909663117872723    NG     999  0.000239
15  NE 24220 0.0057967171242730466    NE   24220  0.005797
16  ND 13220 0.0031640214856684425    ND   13220  0.003164
17    NN 62764 0.01502168264194358    NN   62764  0.015022
18    NK 178 4.260180215196542e-05    NK     178  0.000043
19  NL 1802 0.00043128341279686334    NL    1802  0.000431
20   PC 3361 0.0008044081855772795    PC    3361  0.000804
21   MH 57533 0.013769716197803518    MH   57533  0.013770
22  MS 17620 0.0042170997411102844    MS   17620  0.004217
23   MA 5191 0.0012423930054542274    MA    5191  0.001242
24   MD 8554 0.0020472798629657986    MD    8554  0.002047
25  ME 10644 0.0025474920343006736    ME   10644  0.002547
26                         P 0 0.0     P       0  0.000000
27                         N 0 0.0     N       0  0.000000
28                        Ne 0 0.0    Ne       0  0.000000

In [5]:
group_2_count = pd.read_csv('D:\my research\group\group_2\group_2_count.csv',encoding='utf-8')
group_2_count.columns = ['0','name','class','count','item']
group_2_count = group_2_count.drop(columns='0')
group_2_count

                             name class  count      item
0   PA 42322 0.017533146520796013    PA  42322  0.017533
1    PE 5753 0.002383351257836101    PE   5753  0.002383
2    PD 5278 0.002186568388468441    PD   5278  0.002187
3    PH 61592 0.02551631682124824    PH  61592  0.025516
4     PG 7413 0.00307105560131045    PG   7413  0.003071
5   PB 23131 0.009582704318617566    PB  23131  0.009583
6   PK 7217 0.0029898567752134784    PK   7217  0.002990
7   NA 1789 0.0007411464279973553   NaN   1789  0.000741
8    NB 8999 0.003728103245135942    NB   8999  0.003728
9   NJ 3521 0.0014586789116705914    NJ   3521  0.001459
10  NH 1976 0.0008186167365694656    NH   1976  0.000819
11  PF 4336 0.0017963168875329975    PF   4336  0.001796
12  NI 1947 0.0008066026245449137    NI   1947  0.000807
13   NC 7298 0.003023413432937227    NC   7298  0.003023
14  NG 546 0.00022619672984156285    NG    546  0.000226
15  NE 13022 0.005394750578748776    NE  13022  0.005395
16  ND 7990 0.0033100950026265334    ND   7990  0.003310
17  NN 37253 0.015433162594849344    NN  37253  0.015433
18   NK 127 5.261352507303752e-05    NK    127  0.000053
19  NL 1007 0.0004171796830594392    NL   1007  0.000417
20   PC 2081 0.000862116107692843    PC   2081  0.000862
21  MH 39760 0.016471761865385605    MH  39760  0.016472
22    MS 9920 0.00410965487184671    MS   9920  0.004110
23  MA 3563 0.0014760786601199422    MA   3563  0.001476
24  MD 5518 0.0022859955224647324    MD   5518  0.002286
25   ME 6721 0.002784374031621143    ME   6721  0.002784
26                        P 0 0.0     P      0  0.000000
27                        N 0 0.0     N      0  0.000000
28                       Ne 0 0.0    Ne      0  0.000000

In [6]:
group_3_count = pd.read_csv('D:\my research\group\group_3\group_3_count.csv',encoding='utf-8')
group_3_count.columns = ['0','name','class','count','item']
group_3_count = group_3_count.drop(columns='0')
group_3_count

                             name class  count      item
0     PA 39199 0.0159015345372292    PA  39199  0.015902
1   PE 5523 0.0022404697887475926    PE   5523  0.002240
2    PD 5602 0.002272517066189392    PD   5602  0.002273
3   PH 70405 0.028560614788479856    PH  70405  0.028561
4   PG 9486 0.0038481072634545827    PG   9486  0.003848
5    PB 25375 0.01029366664665402    PB  25375  0.010294
6   PK 6897 0.0027978490191910457    PK   6897  0.002798
7   NA 2211 0.0008969181066306223   NaN   2211  0.000897
8   NB 10341 0.004194948050957605    NB  10341  0.004195
9   NJ 3713 0.0015062220397645864    NJ   3713  0.001506
10  NH 2486 0.0010084750850672668    NH   2486  0.001008
11  PF 3836 0.0015561184337562492    PF   3836  0.001556
12  NI 2222 0.0009013803857680881    NI   2222  0.000901
13   NC 7801 0.003164567231942779    NC   7801  0.003165
14  NG 673 0.00027301035086495196    NG    673  0.000273
15  NE 13078 0.005305244232707046    NE  13078  0.005305
16  ND 10290 0.004174259302229355    ND  10290  0.004174
17  NN 42109 0.017082010199958784    NN  42109  0.017082
18    NK 211 8.55946270913891e-05    NK    211  0.000086
19   NL 1085 0.000440142987650034    NL   1085  0.000440
20  PC 2053 0.0008328235517470229    PC   2053  0.000833
21  MH 39267 0.015929119535533533    MH  39267  0.015929
22  MS 10914 0.004427392227845595    MS  10914  0.004427
23  MA 3951 0.0016027695338297551    MA   3951  0.001603
24  MD 4613 0.0018713176055572412    MD   4613  0.001871
25   ME 7076 0.002870462470609807    ME   7076  0.002870
26                        P 0 0.0     P      0  0.000000
27                        N 0 0.0     N      0  0.000000
28                       Ne 0 0.0    Ne      0  0.000000

In [9]:
group_count = pd.DataFrame()
group_count['class'] = group_1_count['class']
group_count['group_1'] = group_1_count['item']
group_count['group_2'] = group_2_count['item']
group_count['group_3'] = group_3_count['item']
group_count

   class   group_1   group_2   group_3
0     PA  0.012833  0.017533  0.015902
1     PE  0.002523  0.002383  0.002240
2     PD  0.002577  0.002187  0.002273
3     PH  0.024916  0.025516  0.028561
4     PG  0.003006  0.003071  0.003848
5     PB  0.008953  0.009583  0.010294
6     PK  0.003682  0.002990  0.002798
7    NaN  0.000845  0.000741  0.000897
8     NB  0.004159  0.003728  0.004195
9     NJ  0.001683  0.001459  0.001506
10    NH  0.000811  0.000819  0.001008
11    PF  0.001678  0.001796  0.001556
12    NI  0.001148  0.000807  0.000901
13    NC  0.003672  0.003023  0.003165
14    NG  0.000239  0.000226  0.000273
15    NE  0.005797  0.005395  0.005305
16    ND  0.003164  0.003310  0.004174
17    NN  0.015022  0.015433  0.017082
18    NK  0.000043  0.000053  0.000086
19    NL  0.000431  0.000417  0.000440
20    PC  0.000804  0.000862  0.000833
21    MH  0.013770  0.016472  0.015929
22    MS  0.004217  0.004110  0.004427
23    MA  0.001242  0.001476  0.001603
24    MD  0.002047  0.002286  0.001871
25    ME  0.002547  0.002784  0.002870
26     P  0.000000  0.000000  0.000000
27     N  0.000000  0.000000  0.000000
28    Ne  0.000000  0.000000  0.000000

## ÂØπÁîüÊ¥ªÊª°ÊÑèÂ∫¶ËøõË°åÊñπÂ∑ÆÂàÜÊûê

In [10]:
group_1_score = pd.read_csv('D:\my research\group\group_1\group_1_score.csv',encoding='utf-8')
group_1_score.columns = ['0','id','content','score']
group_1_score = group_1_score.drop(columns='0')
group_1_score

               id                                            content     score
0      1818394624  ÊãøÂà∞ Ê≠£Áâá ÊÉäÂëÜ  Â§™Âº∫  ËøôÊâç ËØö ÂèØÊ¨∫ ÂÆùÁü≥ Áû≥ Êª§Èïú  ÁúüÂÆû ÁíÄÁí® Â∫¶  Ë∂ÖÁ∫ß ÁéãÁÇ∏ ...  0.610844
1      7463206912  Áøª Â§öÂπ¥  Áëú‰ºΩ Âû´ ÊäòËÖæ ‰ªäÊó• ÂºÄ Ëç§    ‰Ω©Êúç ‰∏ãÂçà ‰∏çËØ• ÈÜí    Áñ´ÊÉÖ Âè™ËÉΩ Èù†ÁùÄ...  0.612646
2      2819162115  ÂèëÂ∏É ÂÆ£ÂÖãÁÇÖ   Áñ´ÊÉÖ Áñ´ÊÉÖ Ê±ÇÂä©   Â∏ÆÂøô ËΩ¨   ÊÑüÊÅ©  ÁúüÁöÑ ÂäûÊ≥ï ÁúºËßÅ ÁîüÂëΩ ÊµÅÈÄù ...  0.632875
3      7479558149   ‰π∞ ‰∏úË•ø Á≤æÊâìÁªÜÁÆó ÊâìÂ•Ω ‰∏úË•ø  ÂÖÉ ÂèâËÖ∞ ÁÇπ ÁªìÁÆó  ÂÖÉ  ÂÖÉ ÈÇÆË¥π  ÂÖÉ Âø´‰πê Êâã‰Ωú ...  0.620492
4      2151317510  ÊõæÊ±ü ÈªÑËçØÂ∏à ÊõæÊ±ü Âéª‰∏ñ   ÈÇ™ ‰∏≠ ‰∏âÂàÜ Ê≠£ Ê≠£‰∏≠ ÊÄªÂ∏¶ ‰∏ÉÂàÜ ÈÇ™  ‰∏ÄÊù°  È£éÊ†º ÊäπÊùÄ ...  0.606102
...           ...                                                ...       ...
11751  2859433970  ‰∏§Âå∫ È¶ñÊó• Á§æ‰ºö Èù¢ Ê∏ÖÈõ∂ ÁõÆÊ†á ÂÜÖ‰∏™ ÊÉ≥ ÈóÆ Âπ≥Êó∂ ÈáëÂ±± Â¥áÊòé Ëøô‰ø© Âú∞ÂΩì  ‰∏Ä‰∏™Â§öÊúà Êäó...  0.553923
11752  3969679346  Ê†∏ÈÖ∏   Áñ´ÊÉÖ   Âë®Êµ¶ ‰∏áËææ ÂπøÂú∫  Áñ´ÊÉÖ       Â±ÖÂÆ∂    Êôí ‰∏úË•ø   ÂÅ•Â∫∑ Êâì...  0.609953
11753  3155525622  Áñ´ÊÉÖ Â∞ÅÂú® ÂÆ∂Èáå Êñ≠ Á≤Æ ÂêÉ‰∏ç‰∏ä È•≠ È•ø ‰∏çË°å Áæ°ÊÖï ÈÄÅÂæÄ ÈöîÁ¶ª ÁÇπ Â∞èÈò≥‰ª¨ ‰ºôÈ£ü Âú®Á∫ø ‰∏ä...  0.589504
11754  5963448310  ÊòéÂ§© ÂÖ≠ÁÇπ Êä¢Ëèú ‰∏çÂà∞ ÂÖ´ÁÇπ Áù° ÈÜí Áù°‰∏çÁùÄ Â§ú Êº´Èïø ÊÉ≥ Âñù ÊéíÈ™®Ê±§   Ë∂ÖÁ∫ß ÊÉ≥Âøµ Áñ´ÊÉÖ...  0.606425
11755  6406373366  ‰ªäÊó• ‰ªΩ Â§©Âè∞   ËøêÂä® ‚É£  Â§© Â§ñÈù¢ È£éÂ§™Â§ß Âú®ÂÆ∂ ÈîªÁÇº Ë∑üÁùÄ ÂàòËÄïÂÆè   ÈîªÁÇº  ‰∏Ä‰∏™...  0.613214

[11756 rows x 3 columns]

In [11]:
group_2_score = pd.read_csv('D:\my research\group\group_2\group_2_score.csv',encoding='utf-8')
group_2_score.columns = ['0','id','content','score']
group_2_score = group_2_score.drop(columns='0')
group_2_score

              id                                            content     score
0     1818394624  ÂñúÊ¨¢ ÁúºÁùõ  ùüê ùüé ùüê ùüê ÊúÄÁÅ´  ÁéãÁÇ∏ Ê∑∑Ë°Ä Êñ∞Áîü‰ª£ Èáé ËåâËéâ Âà∞Ë¥ß   ÂÖ®ÁΩë Áé∞Ë±° Á∫ß...  0.627130
1     7463206912  ËßÅÈù¢  Â•ΩÈïøÊó∂Èó¥ ÁâµÊåÇ ÊÄùÂøµ Êª°Êª°  Â•Ω‰πÖÊ≤° Âá∫Èó® Â•Ω‰πÖÊ≤° ÂùêËΩ¶ Â•Ω‰πÖÊ≤° ÂêÉ ËÇâ   Â§úÂ§™Áæé...  0.644121
2     7479558149  ‰π∞Âà∞ Â§¥  Èí© Âõ∫ÂÆö ‰ΩìÂ≠ê Ëá™Â∏¶ ËÑñÂç°  Èí© Ëøô‰ª∂ ‰∫ã ‰∏§Âùó ÁúºÊ≥• Êêì ÊàêÂõ¢ Â°û Â§¥ Âç°  ...  0.609893
3     2151317510   Â§© ÂÅáÊúü ÁªìÊùü ÊÇ†Èïø ÂÅáÊúü ÁªìÊùü    Â∏åÊ°ë  Â±å‰∏ù ÈÄÜË¢≠     ÊóãÂæã ÁúüÁöÑ    Â∏åÊ°ë...  0.651726
4     3665330182                            ÊÉ≥ÂêÉÂì• ËÄÅÂÆò           Âπ¥ Â§èÂ§©    0.611775
...          ...                                                ...       ...
9908  2859433970  ÊØèÂë® ÂÖ®Ê∞ë Ê†∏ÈÖ∏ ÁúüÁöÑ Ê†ì   ÊÅÅ ÂïÑÁ±≥  ÊÉ≥ Êãç Á±ª‰ºº Âõæ ÂÜôÁúü    Áî∑Â≠©Â≠ê ÂñúÊ¨¢ ÁîµÂ≠ê...  0.653157
9909  3969679346  ‰π∞ ËÜèËçØ Âáë Âçï‰π∞ ‰∫ëÂçóÁôΩËçØ   Êëî ‰∏ÄË∑§ Ê≠£Â•Ω  Â§çÂ∑• Á¨¨‰∏ÄÂ§©   ÊâìÂç° ‰∏ä‰∏ãÁè≠ Âø´‰πê Êúà...  0.631223
9910  3155525622  Âê¨ ÈöÜÈöÜ Èû≠ÁÇÆÂ£∞ Â¶ñÈ≠îÈ¨ºÊÄ™ ‰ªìÊÉ∂ ÈÄÉÁ™ú ÁóÖÊØí È≠ÇÈ£ûÈ≠ÑÊï£ Áñ´ÊÉÖ Ëß£Â∞Å ÈôàÁ¥´ÂáΩ  ÊÄ•ÈúÄ Ê†∏ÈÖ∏ Ê£Ä...  0.611775
9911  5963448310  ÂàÜ‰∫´   ‰∫∫Ê∞ëÊ≥ïÈô¢ Êä•   Â§¥Êù° ÊñáÁ´† Âçï‰Ωç Âà©Áõä ËÅåÂ∑• ‰∏ãÁè≠ Â∑•‰Ωú Âç†Áî® Êó∂Èó¥ Â∑•‰Ωú ‰∫ãÈ°π...  0.611775
9912  6406373366  Êò®Â§© Ëû∫ÁãÆÁ≤â ÁÅ´ÈîÖ Êôö‰∏ä ÂÅ∑Êáí ÈîªÁÇº ÂØºËá¥ ‰ΩìÈáç Êö¥Â¢û Ê∑±Âàª Ê£ÄËÆ® ÂàòÁïäÂÆè Â•≥Â≠©   ÊàëÊù• ...  0.617969

[9913 rows x 3 columns]

In [12]:
group_3_score = pd.read_csv('D:\my research\group\group_3\group_3_score.csv',encoding='utf-8')
group_3_score.columns = ['0','id','content','score']
group_3_score = group_3_score.drop(columns='0')
group_3_score

              id                                            content     score
0     1818394624  ÂÅö ‰∏§‰∏™ È¢àÊ§é ‰∏çË°å         ÊãºË±Ü  ÂÖ≠Âπ¥ Ê≤°Áé© ÊãºË±Ü     ÂÅö Ëú°Á¨îÂ∞èÊñ∞ ÊÅêÈæô ...  0.606426
1     7463206912  Èù¢ÂåÖ Áà±ÊÉÖ ÈÄâÊã©  ÊÉÖ‰æ£ ‰πãÈó¥ ÂàÜÂØ∏ ÊÑüÊúâ    Êò®Â§© ÂÅöÊ¢¶ Ê¢¶Âà∞ ÂøÉÂÆù ÊÉ≥ Áà∏Áà∏Â¶àÂ¶à Ê∏∏‰πê...  0.625020
2     7479558149   ÊïëÂëΩ ÊàëÂèã ÊâæÂà∞ Ê∏©È¶® ÂèØÁà± Â∞èÊ∏∏Êàè È™åËØÅ ËÄÅË¥º ÁîªÈ£é ÈÄÇÂêà  Âåñ   Ê¢¶ÂÜ∞ÂÖ∞   Â•ΩÂ§ö ...  0.596263
3     2151317510  Ëã±Ê†ºÂÖ∞ Â•≥Ë∂≥ Ë∂≥ÁêÉ ÂõûÂÆ∂ ‰∏çÊÑß Ê¨ßÊ¥≤ ‰∏≠ÂõΩÈòü Â•≥Ë∂≥ Â∏¶Êù• Âø´‰πê Ê∞∏Ëøú Â§ß‰∫é Áî∑Ë∂≥ Âπ¥Â∫ï ‰∏ñÁïå...  0.676551
4     3665330182  Êó© Áª≠ÂëΩ     Á§æÁïú Êó•Â∏∏     ‰∏™ÊÄß ÂõæÊ†á Ê∏ÖÂáâ Ê≥≥Ê±† Âπ¥Ë¥π ‰ºöÂëò ‰∏ìÂ±û ‰∏™ÊÄß ÂõæÊ†á ...  0.611775
...          ...                                                ...       ...
9849  2859433970  Ë∑åÂÄí ÁÉßÁÉ§  Êú∫ËΩ¶ Ëâæ     Â¶Æ È°ÜÊãâÂ≤õ Ëä≠  Ê≤ôÊº† Â≠§Áãº  ÈáëÂ±± ‰∫ã‰ª∂   ÂÆ£‰º†Áßë Âë®ÂÖ≠...  0.590444
9850  3969679346                             ÂÜ∞Ê£ç ÁªùÈÖç  ÊØõÊØõ ÁêÉ Â§èÂ§©  È∫ªËä± Ëæ´    0.611775
9851  3155525622  Èôê Êà∑Á±ç Èôê Âú∞Âüü  Â≤Å Êé•Áßç Êñ∞ÂÜ† Áñ´Ëãó Ë∂ÖÈ´ò Ë°•Ë¥¥ ‰∏ÄÈíà ‰∫åÈíà ‰∏âÈíà Êé•Áßç ÁÇπÁßÅ ÊèêÂâç ...  0.595904
9852  5963448310  ËÆ∫Áéã ÂæãÂ∏à Âπ≤ ‰∫ã Êó©‰∏ä ÁÇπÈíü Âá∫Èó® ÂÖà ÂêØ‰∏úÂ∏Ç ‰ª≤Ë£ÅÂßî ÂºÄÂ∫≠ Ëµ∂Âéª ÊòÜÂ±± ÂΩì‰∫ã‰∫∫ ËÆ§ÂÆö Â∑•...  0.616918
9853  6406373366  Êó©    ÈáçÂ∫Ü ÈáçÂ∫Ü Áª¥ÊôØ ÂõΩÈôÖ Â§ßÈÖíÂ∫ó    ‰πÖËøù Âá∫ËøúÈó®   ËôπÊ°• ÂõΩÈôÖ Êú∫Âú∫  ÂàòÁïäÂÆè...  0.623750

[9854 rows x 3 columns]